@import "../.././assets/styles/main.css";

.product-card {
  .product-card_body-wrapp {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(100% - 300px);
    }
  }
}

.product-card-list {
  @apply flex flex-col gap-4;
}

.product-sm-card-list {
  @apply flex gap-3 overflow-x-auto p-4 scroll-smooth;
}

.full-img-card-list {
  @apply relative;
  columns: 3 260px;
  .full-img-card {
    @apply relative mb-4 inline-block w-full h-auto rounded-lg;
  }
}

.product-sm-card_item {
  @apply w-1/3 min-w-[260px] bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700;
  img {
    @apply w-full h-[200px] object-cover;
  }
}
