@import "../.././assets/styles/main.css";

.product-card {
  .product-card_body-wrapp {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(100% - 300px);
    }
  }
}

.sm-card_item {
  @apply w-1/3 min-w-[260px] bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700;
  .sm-card_item-link {
    @apply block w-auto h-auto overflow-hidden rounded-t-xl;
    &:hover {
      img {
        transform: scale(105%);
      }
    }
    img {
      @apply w-full h-[200px] object-cover transition-all;
    }
  }
}
