@import "../.././assets/styles/main.css";

.floating-sidebar_wrapp {
  @apply fixed w-full max-w-[220px] md:max-w-[320px] h-full top-0 bottom-1 m-3 z-50;
  height: calc(100% - 1.5rem);
  &.left {
    @apply left-0;
    animation: fadeInLeft 0.3s cubic-bezier(0.92, -0.01, 0.1, 0.99) 0s 1 normal
      forwards;
  }
  &.right {
    @apply right-0;
    animation: fadeInRight 0.3s cubic-bezier(0.92, -0.01, 0.1, 0.99) 0s 1 normal
      forwards;
  }
  .floating-sidebar_content {
    @apply flex flex-col relative w-full h-full overflow-y-auto px-5 pt-7 pb-5 rounded-lg bg-white shadow dark:bg-gray-700;
    .floating-sidebar_mobile-close-btn {
      @apply block absolute w-auto h-auto right-3 top-3;
      svg {
        @apply w-5 h-5;
        path {
          @apply fill-white transition-all ease-linear;
        }
      }
      &:hover {
        svg {
          path {
            @apply fill-slate-300;
          }
        }
      }
    }
    .floating-sidebar_header {
      @apply w-full h-auto;
    }
    /* .floating-sidebar_nav {
      @apply flex flex-col gap-1;
      .floating-sidebar_nav-collapse {
        @apply flex flex-col gap-1 overflow-hidden;
        .floating-sidebar_nav-collapse-item {
          @apply flex items-center justify-between bg-transparent hover:bg-slate-600 rounded-lg cursor-pointer font-semibold h-10 px-3 select-none z-10 transition-all;
          .floating-sidebar_nav-collapse-label {
            @apply flex items-center;
            svg {
              @apply w-5 h-5 mr-2;
              path {
                @apply fill-white;
              }
            }
            .floating-sidebar_nav-collapse-span {
              @apply text-base ltr:mr-2 rtl:ml-2;
            }
          }
          .floating-sidebar_nav-collapse-icon {
            @apply text-lg mt-1;
            svg {
              path {
                @apply fill-white;
              }
            }
          }
        }
        .floating-sidebar_nav-collapse-content {
          @apply flex flex-col gap-2 ml-5 overflow-hidden;
          .floating-sidebar_nav-collapse-content-item {
            @apply flex items-center bg-transparent hover:bg-slate-600 rounded-lg cursor-pointer font-semibold h-10 px-3 select-none;
            .floating-sidebar_nav-collapse-content-link {
              @apply h-full w-full flex items-center;
              .floating-sidebar_nav-collapse-content-link-span {
                @apply text-base ltr:mr-2 rtl:ml-2;
              }
            }
          }
        }
        & .fade-in-top {
          animation: fadeInTop 0.17s cubic-bezier(0.92, -0.01, 0.1, 0.99) 0s 1
            normal;
        }
      }
      .floating-sidebar_nav-btn-link {
        @apply flex items-center bg-transparent hover:bg-slate-600 rounded-lg cursor-pointer font-semibold h-10 px-3 select-none transition-all;
        svg {
          @apply w-5 h-5 mr-2;
          path {
            @apply fill-white;
          }
        }
      }
    } */
    .floating-sidebar_section {
      @apply m-0 p-0;
      .floating-sidebar_section-content {
        @apply flex flex-col gap-3 py-2;
      }
      .floating-sidebar_section-hr-b,
      .floating-sidebar_section-hr-t {
        @apply border-t border-gray-200 dark:border-gray-600;
      }
    }
    .floating-sidebar_title {
      @apply text-xl font-semibold;
    }
  }
}
.floating-custom-sidebar-overlay {
  @apply block fixed w-full h-screen z-30 top-0 left-0 bg-[#272838de] transition-all;
}
