@import "../.././assets/styles/main.css";
.main-navbar {
  @apply w-full max-w-screen-2xl mx-auto h-[60px] md:h-[80px] relative;
  background-color: rgba(15, 23, 42, 0.3);
  border-bottom: 1px solid rgb(71 85 105);
  .fade-in-top {
    transform: translateY(-100%);
    animation: fadeInTop 2s cubic-bezier(0.92, -0.01, 0.1, 0.99) 0s 1 normal
      forwards;
  }
  .mobile-main-menu {
    @apply relative rounded-b-xl bg-slate-700 w-full px-4 py-3 transition-all z-50;
    animation: fadeInTop 0.3s cubic-bezier(0.92, -0.01, 0.1, 0.99) 0s 1 normal;
  }
}
