@import "../.././assets/styles/main.css";

.spinner_wrapp {
  @apply w-full h-full absolute flex items-center justify-center top-0 left-0 bottom-0 right-0;
  .spinner_1 {
    @apply absolute border-solid border rounded-[50%] opacity-100 border-slate-700 dark:border-slate-200;
    animation: anim-1 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
  .spinner_2 {
    @apply block absolute box-border w-[64px] h-[64px] m-2 border-solid border-8 rounded-[50%]  border-t-slate-700 border-r-transparent border-b-transparent border-l-transparent  dark:border-t-slate-200 dark:border-r-transparent dark:border-b-transparent dark:border-l-transparent;
    animation: anim-2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
  .spinner_3 {
    @apply absolute top-[33px] w-[13px] h-[13px] rounded-[50%] bg-slate-700 dark:bg-slate-200;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: anim-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: anim-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: anim-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: anim-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes anim-1 {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes anim-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anim-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
